[submodule "externals/codi"]
	path = externals/codi
	url = https://github.com/scicompkl/CoDiPack
	ignore = dirty
[submodule "externals/medi"]
	path = externals/medi
	url = https://github.com/SciCompKL/MeDiPack
	ignore = dirty
