# Compiled Object files
*.slo
*.lo
*.o

# Autoconf/Automake
*.Po
*.dirstamp
*.log
*.status
autom4te.cache

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python files
*.pyc

# Mac files
*.DS_Store
*.xcuserdatad
*.xcuserstate
UserInterfaceState.xcuserstate

# Compiled Makefiles
Makefile

# Emacs temporary files
*~

# installed autotools
contrib/autotools/bin
contrib/autotools/include
contrib/autotools/share
